.login-panel {
    width: 256px;
    margin-left: auto;
    margin-right: auto;
}

.alert, #emloyer-order-add-form-wrapper {
    display: none;
}

#close-form-button {
    float: right;
    margin-top: -24px;
    margin-right: -10px;
}