body {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: sans-serif;
}

h1 {
    color: #2B587A;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    color: #2B587A;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: #2B587A;
    font-size: 18px;
}

/* Common elements */

.underscored-dashed {
    border-bottom: 1px dashed #a5a5a5;
    margin-bottom: 15px;
}

.bordered-top {
    border-top: 1px solid #eee;
    padding-top: 14px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

/* Template elements*/

.header {
    height: 130px;
    position: relative;
}

.sidebar {
}

.account-name {
}

.action-button {
}

/* Form elements */
.well {
    padding: 12px !important;
}

.form-horizontal .form-group, .row {
     margin-right: 0 !important;
     margin-left: 0 !important;
}
.form-group {
    margin-bottom: 10px !important;
}