.alert {
    display: none;
}

#update_acc_balance_btn {
    cursor: pointer;
}

.order {
    margin-bottom: 12px;
}

.order span {
    margin-left: 12px;
    font-size: 18px;
}

.order-description {
    text-indent: -0.9em;
}

.order button {
    margin-top: -5px;
}