php_value session.use_only_cookies 1

# Allow only get and post
RewriteEngine on
RewriteCond %{THE_REQUEST} !^(POST|GET)\ /.*
RewriteRule .* - [F]

# Redirect all to index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/js/.*
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteCond %{REQUEST_URI} !=/jquery.min.map
RewriteRule .* index.php [L]

# Except /js/, /lib/ and static files
RewriteCond %{REQUEST_URI} /js/.*
RewriteCond %{REQUEST_URI} /lib/.*

RewriteCond %{REQUEST_URI} \.(map|css|jpg|gif|png|zip|rar|doc|xls|js|tif|tiff|docx|xlsx|ico)$
    RewriteRule ^(.*)$ $1 [L,QSA]
